header {
    background-color: darksalmon;
    padding: 10px;
}
header a {
    text-decoration: none;
    background-color: beige;
    color: brown;
    padding: 5px;
    border: 1px solid beige;
    border-radius: 10px;
    margin: 5px;
}

h1 {
    text-align: center;
    color: brown;
}
